footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: var(--footer_height);
    font-size: 16px;
    font-family: var(--main_font-family);
    color: white;
    background: black;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: var(--red_color);
}

footer .rights {
    margin-top: 5px;
    font-size: 10px;
}